<h1>Enter new User information</h1>
<form>
  Please enter full name:
  <input type="text" name="name" value="" placeholder="Enter Full-Name">
  <input type="submit" name="" value="Submit">
</form>
