.container {
    width: 600px;
    margin: 30px auto;
}

.green,
.red {
    color: white;
    font-weight: bold;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

form {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

input[name="submit"] {
    margin-top: 5px;
}
