<h1>Dog#new</h1>
<p>Find me in app/views/dog/new.html.erb</p>

<form method="POST" action="/dogs/">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	Name: <input name="name"><br />
	Breed: <input name="breed"><br />
	<input type="submit">
</form>
