<h1>Edit User #1</h1>
<form>
  Please enter full name:
  <input type="text" name="name" value="<%= @user.name%>" placeholder="Enter Full-Name">

  <input type="submit" name="" value="Submit">
</form>
