<h1>Index Page</h1>

<form action='/process_data/' method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div>Your Name: <input type="text" name="data[name]"></div>
  <br>
  <div>
    Dojo Location: <select name="data[location]">
      <option value="Dallas">Dallas</option>
      <option value="Mountain View">Mountain View</option>
      <option value="Silicon Valley">Silicon Valley</option>
    </select>
  </div>
  <br>
  <div>
    Favorite Language: <select name="data[language]">
      <option value="Ruby">Ruby</option>
      <option value="Javascript">Javascript</option>
      <option value="Python">Python</option>
    </select>
  </div>
  <br>
  Comment (optional):
  <div><textarea name="data[comment]"></textarea></div>
  <input type="submit" value="Submit">
</form>
