<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form method="POST" action="/users/">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	Name: <input name="name"><br />
	<input type="submit">
</form>