<p><strong>First Name:</strong> <%= @user.first_name %></p>
<p><strong>First Name:</strong> <%= @user.last_name %></p>
<p><strong>First Name:</strong> <%= @user.email_address %></p>
<a href="/users/<%= @user.id %>/edit/">Edit</a> | <a href="/users/">Back</a>
